PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=changeme
DB_DATABASE=glam_cosmetics

DB_SSL=false
DB_SSL_CA=
DB_SSL_REJECT_UNAUTHORIZED=true

JWT_SECRET=cambia-este-valor-por-un-secreto-largo-y-aleatorio
JWT_EXPIRES_IN=8h
